body{
  width: 100vw;
  height: 100vh;
  padding-right: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  background-color: #090b18;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task-body{
  width: 350px;
  max-height: 350px;
  padding: 20px;
  border-radius: 10px;
  /* background: #22232f; */
}
.status-bar{
  padding: 15px 10px;
  color: #ddd;
  background: #22232f;
  border-radius: 10px;
    font-size: 18px;
  text-align: center;
}
.display-watch{
  padding: 15px 10px;
  color: #ddd;
  background: #22232f;
  border-radius: 10px;
  margin: 10px 0 ;
  text-align: center;
}
.d-clock span{
  display: inline-block;
  font-size: 24px;
  width: 40px;
  height: 30px;
  font-weight: bold;
}
.separetor{
  width: 10px !important;
  height: auto;
}
.btn-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #22232f; */
  /* padding: 15px 10px; */
  border-radius: 10px;
}
.btn{
  padding: 10px 30px;
  border: none;
  outline: none !important;
  color: #ddd;
  border-radius: 10px;
  background: #22232f;
}
.btn:hover{
  cursor: pointer;
  opacity: .8;
}


.bottom{
  padding: 12px 20px;
  color: #ddd;
  background: #22232f;
  border-radius: 10px;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  width: 100%;
  display: block;
}
.bottom:hover{
  opacity: .8;
  cursor: pointer;
}
